$primary-font: "Poppins";
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$black: #000000;
$red: #E93E30;
$yellow:#F7E018;
$light-blue: #299ED5;
$light-black: #bdc1c2;
$green: #4cc441;
$violet: #563D7C;
$white: #fff;
