@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, body {
  font-family: "Poppins";
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

.register button {
  margin: 8px;
  border-radius: 5px;
}

.register__button--create {
  background-color: #4cc441;
  color: #fff;
  font-weight: 700;
  height: 60px;
  border: none;
}

.register__google--register {
  background-color: transparent;
  border: 1px solid black;
  font-weight: 700;
  height: 60px;
}

.footer__title {
  margin: 20px;
  font-weight: 700;
  text-align: start;
}

.register {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.register__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.register a {
  text-decoration: none;
  color: inherit;
}
.register__login {
  font-weight: 700;
}

.register__logogoogle {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.content__img {
  text-align: center;
  margin: 20px 25%;
  border-radius: 15px;
}

.register input {
  margin: 5px;
  border-radius: 5px;
  border-width: 1px;
  height: 50px;
}

.navbar__title, .logo__title, .footer__title {
  margin: 20px;
  font-weight: 700;
  text-align: start;
}

.navbar {
  width: 80%;
  margin: auto;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 50px auto;
  width: 50%;
  border-radius: 10px;
  background-color: #4cc441;
  justify-content: center;
}
.newsletter__titlebox {
  margin: 10px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.newsletter__title {
  text-align: start;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.newsletter__subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.newsletter__subscribe input, .newsletter__subscribe button {
  margin: 10px 0 10px 30px;
}
.newsletter__email {
  width: 40%;
  height: 35px;
  border: none;
  border-radius: 10px;
}
.newsletter__btn {
  background-color: #bdc1c2;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  width: 200px;
}

.post {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.post__title {
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo__date {
  margin-top: 13px;
}

.content {
  background-color: #bdc1c2;
  margin: 20px;
}
.content__text {
  font-weight: 400;
  margin: 10px;
}

.related {
  margin: auto;
  width: 80%;
}
.related__content {
  display: flex;
}
.related__card {
  width: 30%;
}
.related__title, .related__img, .related__date, .related__subtitle {
  margin: 20px;
}
.related__img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

.footer {
  display: flex;
  margin: auto;
  width: 80%;
}
.footer__date {
  margin: 20px;
  margin-left: auto;
}

#wrapper {
  display: flex;
  flex-direction: row;
  background-color: #000000;
}
#wrapper__left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#wrapper__right {
  flex: 1;
}
#wrapper__signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}
#wrapper__form {
  width: 80%;
  padding-bottom: 3rem;
}
#wrapper__logo {
  margin-bottom: 8vh;
}
#wrapper__showcase {
  display: flex;
  background: url("https://img.freepik.com/fotos-premium/fondo-verde-fondo-verde-palabra-verde-parte-inferior_867159-2.jpg") no-repeat center center/cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper__label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
  color: #fff;
  padding: 5px;
}
.wrapper__box {
  display: flex;
  justify-content: space-between;
  margin: 1px;
  width: 400px;
}
.wrapper__box--sign {
  justify-content: center;
}
.wrapper__button--secondary-btn, .wrapper__or, .wrapper__links {
  width: 60%;
}
.wrapper__or--bar {
  flex: auto;
  border: none;
  height: 1px;
  background-color: #aaa;
}
.wrapper__or {
  text-align: center;
}
.wrapper__span {
  color: #ccc;
  padding: 0 0.8rem;
}
.wrapper__showcase--text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 2.5rem;
}
.wrapper__links--secondary-btn {
  width: 60%;
  margin: auto;
}
.wrapper__copy {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 5rem;
}
.wrapper__copy--links {
  color: #4cc441;
  text-decoration: underline;
}
.wrapper__button--primary-btn {
  margin: 20px;
  height: 30px;
  display: block;
  border: 1px solid;
  border-radius: 2px;
  font-weight: 500;
  background-color: #4cc441;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.wrapper__button--primary-btn:hover {
  background-color: #4cc441;
}
.wrapper__button--secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background-color: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.wrapper__button--secondary-btn {
  border-color: #4cc441;
  color: #4cc441;
}/*# sourceMappingURL=main.css.map */