
.post {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;

    &__title{
        text-align: start;
        font-size: 30px;
        font-weight: $font-bold;
        margin: 20px;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__date {
        margin-top: 13px;
    }
}

.content {
    background-color: $light-black;
    margin: 20px;

    &__text {
        font-weight: $font-regular;
        margin: 10px;
    }
}

.related {
    margin: auto;
    width: 80%;

    &__content {
        display: flex;
    }

    &__card {
        width: 30%;
    }

    &__title, &__img, &__date, &__subtitle {
        margin: 20px;
    }

    &__img {
        width: 300px;
        height: 200px;
        border-radius: 15px;
    }
}

.footer {
     display: flex;
     margin: auto;
     width: 80%;

     &__date {
        margin: 20px;
        margin-left: auto;
     }
}

