

#wrapper{
    display: flex;
    flex-direction: row;
    background-color: $black;

    &__left{
        display: flex;
        flex-direction: column;
        flex:1;
        align-items: center;
        justify-content: center;
        height: 100vh;
    
    }

    &__right{
        
        flex:1;

    }

    &__signin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding-bottom: 1rem;
    }

    &__form{
        width: 80%;
        padding-bottom: 3rem;
    
    }

    &__logo{
        margin-bottom: 8vh;
    
    }

    &__showcase {
        display: flex;
        background: url('https://img.freepik.com/fotos-premium/fondo-verde-fondo-verde-palabra-verde-parte-inferior_867159-2.jpg') no-repeat center center / cover;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

}

.wrapper {
    &__label{
        font-size: 0.9rem;
        line-height: 2rem;
        font-weight: 500;
        color: $white;
        padding: 5px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin: 1px;
        width: 400px;
    }

    &__box--sign {
        justify-content: center;
    }

   

    &__or--bar{
        flex: auto;
        border: none;
        height: 1px;
        background-color: #aaa;
    }

    &__or {
        text-align: center;
    }

    &__span{
        color: #ccc;
        padding: 0 0.8rem;
    }

    
    &__showcase--text {
        font-size: 3rem;
        width: 100%;
        color: #fff;
        margin-bottom: 2.5rem;
    }

    
    &__links--secondary-btn{
        width: 60%;
        margin: auto;
    }

    &__copy{
        color: #ccc;
        text-align: center;
        font-size: 0.8rem;
        max-width: 80%;
        padding-top: 5rem;
    
    }

    &__copy--links{
        color: $green;
        text-decoration: underline;
    
    }

}